@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zd423');
  src:  url('fonts/icomoon.eot?zd423#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zd423') format('truetype'),
    url('fonts/icomoon.woff?zd423') format('woff'),
    url('fonts/icomoon.svg?zd423#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search2:before {
  content: "\e90b";
}
.icon-unbookmark:before {
  content: "\e909";
}
.icon-drag_handle:before {
  content: "\e90a";
}
.icon-bookmark2:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e90d";
}
.icon-chevron-right:before {
  content: "\e90c";
}
.icon-bookmark:before {
  content: "\e900";
}
.icon-link:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-x:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-up:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
