body {
  background-color: #202A2B;
}

#headers {
  width: 960px;
  height: 30px;
  position: relative;
}

.header-text {
  position: absolute;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 6px;
  border-bottom: 1px dotted #fff;
}

#h1 {
  left: 5px;
}

#h2 {
  left: 283px;
}

#h3 {
  left: 558px;
}

#h4 {
  left: 833px;
}

#bounding {
  background-color: #202A2B;
}

#bounding-inner {
  position: relative;
}

#textmeasure {
  position: absolute;
  font-family: sans-serif;
  font-size: 10px;
  left: 0px;
  top: 0px;
  padding: 5px;
  box-sizing: border-box;
}

.node-div {
  position: absolute;
  font-family: sans-serif;
  font-size: 10px;
  padding: 5px;
  box-sizing: border-box;
  color: #CCCCCC;
  cursor: pointer;
}

.node-div-hl {
  color: red !important;
}

.active-node {
  background: #3A4445; /* lightened 10% */
}

.links {
  fill: none;
  stroke: #CCCCCC;
  stroke-opacity: 0.2
}

.link-hl {
  stroke: red;
  stroke-width: 2;
  stroke-opacity: 0.6;
}

.dots {
  fill: #CCCCCC;
}
