#nw-headers {
  height: 30px;
  position: relative;
}

.nw-header-text {
  position: absolute;
  color: #fff;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dotted #fff;
}

.nw-alldirect {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  color: #fff;
}

.nw-alldirect {
  cursor: pointer;
}

.nw-alldirect > span {
  margin-left: 6px;
}

.nw-alldirect > span:hover {
  color: red;
}

.nw-alldirect > span.active {
  color: red;
}

#nw-bounding {
  background-color: #202A2B;
}

#nw-bounding-inner {
  position: relative;
}

#nw-textmeasure {
  position: absolute;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: normal;
  font-size: 10px;
  left: 0px;
  top: 0px;
  padding: 5px;
  box-sizing: border-box;
}

.nw-node-div {
  position: absolute;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 5px;
  box-sizing: border-box;
  color: #CCCCCC;
  cursor: pointer;
  line-height: normal;
}

.nw-node-div-hl {
  color: red !important;
}

.nw-active-node {
  background: #3A4445; /* lightened 10% */
}

.nw-links {
  fill: none;
  stroke: #CCCCCC;
  stroke-opacity: 0.2
}

.nw-link-hl {
  stroke: red;
  stroke-width: 2;
  stroke-opacity: 0.6;
}

.nw-dots {
  fill: #CCCCCC;
}
