body {
  margin: 0;
  padding: 0;
  background: #f1f2f2;
  font-family: 'Open Sans'
}

.root {
  flex: 1;
  max-width: 1000px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  margin: auto;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background: #202a2b;
}

.header-text {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 10px;
}

.slider-container {
  position: absolute;
  left: 0px;
  background: #202a2b;
}

.events-container {
  position: absolute;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.eventgroup-header {
  border-top: 2px dashed #51b8c0;
  padding-top: 4px;
  padding-bottom: 15px;
}

.eventgroup-cat {
  padding-left: 10px;
  font-size: 12px;
  color: gray;
}

.eventgroup-subcat {
  font-weight: 600;
}


/* events elements */

.row {
  height: 30px;
  font-family: 'Times New Roman';
  opacity: 0.8;
}

.row-abs {
  font-size: 14px;
  position: relative;
}

.rl {
  /* display: inline-block; */
  position: absolute;
  top: 0px;
  height: 25px;
  background: white;
  border-radius: 8px;
  margin-bottom: 5px;
  line-height: 25px;
  /* padding-left: 8px; */
  white-space: nowrap;
  /* this transition is when they become active */
  /* height first, then text */
  /* transition: height 0.15s ease-in-out 0.25s, opacity 0.1s ease-in 0.25s; */
  /* transition: all 0.15s ease-in; */
}

/* this transition is when they become inactive */
/* text goes away immediately, height after */
.rl.inactive {
  transition: height 0.15s ease-in-out 0.25s, opacity 0.1s ease-out 0s;
}


.rl2 {
  height: 3px;
  background: white;
  position: relative;
  /* left: 338px;
  width: 204px; */
  top: 9px;
  margin-top: -3px;
}

/* tweak this to get the rounded shape of divs in design */
/*
 .card {
  width:200px;
  height:60px;
  margin:40px;
}

.element {
  position: relative;
  background-color: #32CBFF;
  border-radius: 25px;
}

.element:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 10px;
  width: 67px;
  height: 40px;
  background:radial-gradient(ellipse at top left,transparent 34px, #32CBFF 0) top left,
    radial-gradient(ellipse at bottom left,transparent 34px, #32CBFF 0) bottom left;
  background-size:50% 50%;
  background-repeat:no-repeat;
}

.element:after {
  content: "";
  position: absolute;
  right: -30px;
  top: 10px;
  width: 67px;
  height: 40px;
  background:radial-gradient(ellipse at top right,transparent 34px, #32CBFF 0) top right,
    radial-gradient(ellipse at bottom right,transparent 34px, #32CBFF 0) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
}
*/

/* end events elements */



/* timeline axes */

.axis {
  clip-path: url(#clip);
}

.dots {
  clip-path: url(#clip);
}

.focus-area {
  fill: #f1f1f2;
}

.axis path {
  stroke-width: 6px;
}

.handle-line {
  stroke-width: 6px;
}

.axis .tick text {
  font-size: 12px;
  font-family: 'Open Sans';
}

.brush rect.selection {
  fill: none;
  stroke: none;
}

/* end timeline axes */
