@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700,800');

body {
  margin: 0;
  padding: 0;
  background: #f1f2f2;
  font-family: 'Roboto'
}

.root {
  flex: 1;
  max-width: 1000px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  margin: auto;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  background: #202a2b;
}

.header-text {
  color: #FFFFFF;
  font-family: "Roboto Condensed";
  font-size: 22px;
  font-weight: bold;
  line-height: 64px;
  padding-left: 24px;
  display: inline-block;
}

.header-filters {
  position: absolute;
  top: 0px;
  right: 150px;
  color: #4EB8C1;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 64px;
  display: inline-block;
}

.header-filter {
  padding-left: 10px;
}

.header-filter > .icon-chevron-down {
  font-size: 16 px;
}

.header-icons {
  position: absolute;
  top: 0px;
  right: 24px;
  color: #98B9BD;;
  display: inline-block;
  font-size: 18px;
  line-height: 64px;
}

.header-icon {
  margin-left: 15px;
  cursor: pointer;
}

.slider-container {
  position: absolute;
  left: 0px;
  background: #202a2b;
}

.actions-header {
  position: absolute;
  left: 0px;
  color: #4EB8C1;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
}

.action-item {
  padding-left: 20px;
}

.pinned-container {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 10px;
  padding-bottom: 5px;
}

.pinned-header {
  padding-left: 5px;
  padding-bottom: 5px;
  color: #202A2B;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: bold;
  height: 40px;
}

.pinned-icon {
  color: #98b9bd;
  padding-left: 6px;
  position: relative;
  top: 4px;
}

.pinned-button {
  position: absolute;
  right: 10px;
  top: 15px;
  height: 32px;
  width: 140px;
  border-radius: 20px;
  background-color: #FFFFFF;
  font-family: "Roboto";
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.16);
  color: #4EB8C1;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}

.pinned-instructions {
  padding-left: 5px;
  color: #939598;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
}

.events-container {
  position: absolute;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.eventgroup-hline {
  stroke: #51b8c0;
  stroke-width: 2px;
  stroke-linecap: round;
}

.eventgroup-header {
  /* margin-top: 25px; */
  /* border-top: 2px dashed #51b8c0; */
  /* padding-top: 4px; */
  padding-bottom: 15px;
}

.eventgroup-header-text {
  display: inline-block;
}

.eventgroup-header-icons {
  position: absolute;
  right: 10px;
  display: inline-block;
  color: #70B6BC;
  font-size: 25px;
}

.eventgroup-header-icon {
  margin-left: 20px;
  cursor: pointer;
}


.eventgroup-cat {
  padding-left: 10px;
  color: #939598;
  font-family: "Roboto Condensed";
  font-size: 14px;
}


.eventgroup-subcat {
  color: #202A2B;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: bold;
}


/* events elements */

.event-row {
  height: 30px;
  /* font-family: 'Times New Roman'; */
  /* font-weight: 300; */
  /* opacity: 0.8; */
}

.event-row-abs {
  font-size: 14px;
  position: relative;
}

.event {
  /* display: inline-block; */
  position: absolute;
  top: 0px;
  height: 25px;
  border-radius: 12px;
  margin-bottom: 5px;
  line-height: 25px;
  white-space: nowrap;
  cursor: pointer;
  /* this transition is when they become active */
  /* height first, then text */
  /* transition: height 0.15s ease-in-out 0.25s, opacity 0.1s ease-in 0.25s; */
  /* transition: all 0.15s ease-in; */
}

.event-peak {
  height: 26px;
  margin-left: 14px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid lightgray;
  /* border-radius: 12px; */
  border-bottom: 1px solid lightgray;
}

.event-peak-st {
  position: absolute;
  top: 0px;
  left: -16px;
}

.event-peak-nd {
  position: absolute;
  top: 0px;
}

.event-peak-tl {
  opacity: 0.5;
  position: absolute;
  left: -6px;
  top: 3px;
  width: 11px;
  height: 9px;
  border-bottom-right-radius: 33px 33px;
}

.event-peak-shadow {
  filter: drop-shadow( 0px 1px 0px lightgray);
}

/* .event-peak:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 5px;
  width: 23px;
  height: 16px;
  background:radial-gradient(ellipse at top left,transparent 12px, white 0) top left,
    radial-gradient(ellipse at bottom left,transparent 12px, white 0) bottom left;
  background-size:50% 50%;
  background-repeat:no-repeat;
}

.event-peak:after {
  content: "";
  position: absolute;
  right: -10px;
  top: 5px;
  width: 23px;
  height: 16px;
  background:radial-gradient(ellipse at top right,transparent 12px, white 0) top right,
    radial-gradient(ellipse at bottom right,transparent 12px, white 0) bottom right;
  background-size:50% 50%;
  background-repeat:no-repeat;
} */

.event-text {
  position: absolute;
  top: 0px;
  left: 8px;
  color: #6B6B6D;
  font-family: "Roboto Condensed";
  font-size: 14px;
}

.event-hoverinfo {
  position: absolute;
  top: 0px;
  height: 26px;
  line-height: 26px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.hoverinfo-text {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  color: #51b8c0;
  font-weight: 400;
}

/* .event2 {
  height: 3px;
  background: white;
  position: relative;
  top: 9px;
  margin-top: -3px;
} */

.expand-info {
  background: #202a3b;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 14px;
}

.expand-info-header {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Roboto Condensed";
}

.expand-info-age-container {
  width: 90px;
  display: inline-block;
  padding-left: 15px;
}

.expand-info-age {
  font-weight: 600;
}

.expand-info-hline {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
  height: 1px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.expand-info-detail {
  padding-left: 15px;
  padding-right: 15px;
}

/* end events elements */



/* timeline axes */

.axis {
  clip-path: url(#clip);
}

.axis.axis--x4 .tick text {
  color: #939598;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.58px;
}

.dots {
  clip-path: url(#clip);
}

.focus-area {
  fill: #f1f1f2;
}

.axis path {
  stroke-width: 6px;
}

.handle-line {
  stroke-width: 6px;
}

.axis .tick text {
  font-size: 12px;
  font-family: 'Roboto';
}

.brush rect.selection {
  fill: none;
  stroke: none;
}

/* end timeline axes */
